@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --bg: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);

  --scissor1: hsl(39, 89%, 49%);
  --scissor2: hsl(40, 84%, 53%);

  --paper1: hsl(230, 89%, 62%);
  --paper2: hsl(230, 89%, 65%);

  --rock1: hsl(349, 71%, 52%);
  --rock2: hsl(349, 70%, 56%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  min-height: 100dvh;
  background: var(--bg);
  /** to center the main play */
  display: grid;
  place-content: center;

  /** to positionate the button rules */
  position: relative;
}

/** ======== Setep 1 ======== */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 3px solid var(--headerOutline);
  border-radius: 10px;

  width: 700px;

  padding: 10px 15px;
}

.header__score {
  width: 120px;
  height: 99px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 15px;

  border-radius: 10px;

  background-color: white;
}

.header__score span {
  font-weight: 700;
  font-size: 46px;
}

.header__score p {
  font-weight: 600;
  color: var(--scoreText);
}

/** ========= Elections Button ========= */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgElection {
  background-color: white;

  width: 100px;
  height: 100px;

  border-radius: 50%;
}

.elections {
  position: relative;

  display: grid;
  place-content: center;

  padding: 60px;
}

.handContainer {
  position: absolute;
  top: 10%;
  left: 30%;
}
.scissorContainer {
    position: absolute;
    top: 10%;
    right: 30%;
}

.rockContainer {
    position: absolute;
    bottom:10%;
    left: 43%;
}
.triangle img {
  width: 250px;
  position: relative;
  z-index: -2;
}

.hand {
  position: relative;
}

.border::before {
  content: "";
  position: absolute;

  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  z-index: -1;
  border-radius: 50%;
}

.rock {
  position: relative;
}

.scissor {
  position: relative;
}

.border.s::before {
    background: linear-gradient(to bottom, var(--scissor1), var(--scissor2));
}

.border.r::before {

    background: linear-gradient(to bottom, var(--rock1), var(--rock2));
}

.border.h::before {

    background: linear-gradient(to bottom, var(--paper1), var(--paper2));
}

/** ========= Button Rules ========= */
.ruleButton {
  position: absolute;
  bottom: 5%;
  right: 5%;

  width: 100px;

  padding: 5px 10px;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;

  color: white;
}